html {
  height:100%;
  min-height:100%;
}

body {
  padding-top: 55px; /* падинг (отступ сверху) */
  margin:0;
}

 footer {
  margin: 6px;
  height: 52px;
  padding: 2rem 0;
  color: #999;
  text-align: left;
  background-color: #ffffff;
  border-top: .07rem solid #e5e5e5; /* Будто Ок */
}
footer p:last-child {
  margin-bottom: 2;        /* хз зачем */
}
.scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.07); /* Увеличиваем масштаб */
   }

.image {
  margin-top:21px;
  margin-bottom: 12px;
  margin-left: 3.3%; 
	float:none;
  max-width: 70%;
  border-radius: 10px;
}

.button {
  margin: 12px;
}

.nav-item{
  margin-left: 21px;
}

.navbar{
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

button{
  border: 8px;
}

.wall{
  width: 50%;
  float: left;
}